{% extends 'base.html' %}

{% block title %} | Dashboard{% endblock %}

{% block content %}
<section id="" class="py-5 text-white" style="background-color:darkblue;">
    <div class="container">
        <div class="row text-center">
        <div class="col-md-12">
            <h1 class="display-4">Kullanıcı Kontrol Paneli</h1>
            <p class="lead">Emlak Hesabınızı yönetin</p>
        </div>
        </div>
    </div>
    </section>

    <section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
                <i class="fas fa-home"></i> Ana Sayfası</a>
            </li>
            <li class="breadcrumb-item active"> Kontrol Paneli</li>
        </ol>
        </nav>
    </div>
    </section>


    {% include 'partials/_alerts.html' %}

    <section id="dashboard" class="py-4">
        <div class="container">
            <div class="row">
            <div class="col-md-12">
                <h2>Hoş Geldiniz {{ kullanıcı.İsim }}</h2>
                {% if contacts %}
                    <p>Merak ettiğiniz emlak ilanları burada</p>
                    <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Mülk</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% kişilerdeki iletişim için %}
                            <tr>
                                <td>{{ İletişim.id}}</td>
                                <td>{{ İletişim.listesi }}</td>
                                <td>
                                    <a class="btn btn-light" href="{% url 'listing' contact.listing_id %}">Listeyi Görüntüle</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                    {% else %}
                        <p>Herhangi bir sorgulama yapmadınız</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}